.employeeContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

.profileSection {
  width: 35%;
}

.calendarSection {
  width: 30%;
  padding: 0 10px;
}

.attendanceSection {
  width: 35%;
  display: flex;
  flex-direction: column;
}
.content{
 margin: 24px 16px;
 padding: 24;
 min-height: 280,        
}

.layout{
  height: 100vh;
}

@media (max-width: 768px) {
  .employeeContainer {
    flex-direction: column;
    align-items: center;
  }

  .calendarSection{
    display: none;
  }
  .profileSection,
  .attendanceSection {
    width: 100%;
    margin-bottom: 16px;
  }
  .content{
    margin: 8px -9px;
    padding: 19px;
    min-height: 280px;
  }
  .layout{
    height: 100%;
  }
  
}



