################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/aspnet-core/src/hrisApi.Web.Host/App_Data/Logs/Logs.txt
